body{
    text-align: center;
    margin: 1rem 5rem 0 5rem;
}

.topBar
{
    display: flex;
    gap: 2vw;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    background-color: black;
    border: 0.2vw solid gray;
    z-index: 1000;
    
}
.topBarItem
{
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    margin: 1vw auto;
}

.title{
    display: inline-block;
    width: 100%;
    text-align:center;
    font-size: clamp(2rem, 4vw, 3rem);
}
.headshot{
    max-width: 100%;
    max-height: 100%;
    width: 15vw;
    height: 15vw;

    border: 0.1vw solid black;
    padding: 1vw;
    border-radius: 100%;
}
.aboutMe-head{
    display: inline-block;
    font-size: clamp(1.25rem, 2vw, 2rem);
    border: 0.3vw solid black;
    padding: 1vw;
    margin: 1vw;
}
.aboutMe-body{
    margin:0 auto;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    max-width: 70vw;
}
.gamePanel{
    display: flex;
    flex-direction: column;
    background-color: grey;
    outline: 1vw double black;
}
.gameContainer{
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
    justify-items: center;
    padding: 2vw;
}
.gameImage
{
    display: flex;
    width: 100%;
    max-width: 15vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1vw;
}
.active{
    transform: scale(1.3);
    border: 0.5vw double yellow;
    box-shadow: -1vw 1vw 0.5vw rgba(0, 0, 0, 0.9);
}

.gameVideo{
    display: hidden;
    width: 100%;
    max-width: 80vw;
    padding: 0;
    margin: 2vw auto;
    border: 1vw solid black;
    border-style: groove;
    outline: none;
    box-shadow: none;
}
.timeline{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 0.3vw;
    background-color:rgb(227, 108, 225);
    margin-bottom: 5vw;
    position: relative;
    max-width: 100%;
}
.timeline-item
{
    width: 0.5vw;
    height: 0.5vw;
    background-color:rgb(41, 133, 169);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--pos) / 365 * 100%);
}

.timeline-item:hover
{
    width: 10vw;
    height: 10vw;
    transform: translate(-50%, -50%);
    background-image: var(--img),
    radial-gradient(circle at 30% 30%, #ffffff 0%, #41a3d9 60%, #1f5f70 100%);
    background-size:contain;
    background-position: center;
    outline: auto;
    
    transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.linkContainer
{
    display: flex;
    position: relative;
    left:0;
    bottom:0;
}
.linkItem
{
    margin: 1vw;
}