.topBar
{
    display: flex;
    width: 100%;
    height: 5vw;
    background-color: black;
    top: 0;
    position: fixed;
    color: white;
    align-items: center;
    justify-items: start;
    z-index: 1000;
}

.topBarItem
{
    padding: 1vw;
}

a
{
    text-decoration: none;
    color: white;
}

body
{
    background-color: azure;
    font: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Libre;
    margin: 5vw auto;
    /* padding: 2rem; */
    text-align: center;
}

 .gameCard
    {
        display: grid;
        gap: 0.5vw;
        grid-template-areas: 
        "gameIcon title authorIcon"
        "author author author"
        "description description description";
        max-width: 80vw;
        margin: 3vw 10vw;
        justify-items: center;
        border: 0.5vw solid white;
        padding: 1vw;
    }
    .gameCardItem
    {
        padding: 1vw;
        background-color: pink;
    }
    .authorIcon
    {
        grid-area: authorIcon;
        max-width: 100%;
        max-height: 100%;
        border: 0.5vw solid black;
        border-radius: 3vw;
    }
    .gameIcon
    {
        grid-area: gameIcon;
        max-width: 100%;
        max-height: 100%;
        border: 0.5vw solid black;
        border-radius: 3vw;
    }
    .title
    {
        grid-area: title;
        display: flex;
        grid-column: span 1;
    }
    .author
    {
        grid-area: author;
        display: flex;
    }
    .description
    {
        display: flex;
        grid-column: span 3;
    }

.gamesPage
{
    align-content: center;
    background-color: black;
    color: white;
}


h1
{
    /* font-family: Perpetua;
    font-style: oblique; */
    /* color:pink; */
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    max-width: 60vw;
    font-size: 3.5vw;
}

.headshot
{
    height: 20vw;
    border: 0.2vw solid black;
    border-radius: 10vw;
    padding: 0.5vw;
    margin: 1vw;
}

.aboutMe
{
    margin: 0 auto;
    max-width: 90vw;
    font-size: 1.8vw;
    border: 0.1vw solid black;
    padding: 1vw;
    outline: 0.1vw solid black;
    border-radius: 1.5vw;
}

.timeline
{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 0.3vw;
    background-color:rgb(227, 108, 225);
    margin: 40px auto;
    position: relative;
}

.timeline-item
{
    width: 0.5vw;
    height: 0.5vw;
    background-color:rgb(41, 133, 169);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--pos) / 365 * 100%);
}

.timeline-item:hover
{
    width: 10vw;
    height: 10vw;
    transform: translate(-50%,-98%);
    background-image: var(--img),
    radial-gradient(circle at 30% 30%, #ffffff 0%, #41a3d9 60%, #1f5f70 100%);
    background-size:contain;
    background-position: center;
    outline: auto;
    
    transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

p
{
    text-align: center;
    margin: 0 auto;
    max-width: 80vw;
    vertical-align: top;
}

.gameContainer
{
    display: grid;
    border: 1px solid white;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.gameImage
{
    margin: 0 auto;
    max-width: 90vw;
    height: 20vw;
    width: 20vw;
    border-color:#174855;
    border: solid;
    border-width: 0.01vw;
    border-radius: 1vw;
}

.active
{
    transform: scale(0.8);
}

.gameVideo
{
    max-width: 100%;
    width: 80vw;
    border: 2vw solid black;
    border-radius: 5vw;
    margin: 1vw 1vw 0 1vw;
}

.gameDescription
{
    max-width: 100%;
    width: 67.5vw;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(129, 69, 130);
    border-radius: 0 0 3vw 3vw;
    font-size: 1.8vw;
    padding: 1vw 0 1vw 0;
}

h2
{
    color: pink;
        text-align: center;
}

.linkContainer
{
    display: flex;
    position: fixed;
    left:0vw;
    bottom:0vw;
    margin-top: 5vw;
}
.linkItem
{
    margin: 1vw;
}
.backgroundVideo
{
    width: 90%;
    opacity: 0.3;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    border: 0.1px solid white;
    border-radius: 10vw;
    margin: 5vw auto;
}
.gamesPageContainer
{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
}