body
{
    background-color:darkslategrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

p
{
    text-align: center;
    margin: 0 auto;
    max-width: 80vw;
    vertical-align: top;
}

.gameImage
{
    margin: 0 auto;
    max-width: 90vw;
    height: 20vw;
    width: 20vw;
    border-color:#174855;
    border: solid;
    border-width: 0.01vw;
    border-radius: 1vw 1vw 0 0;
    margin: 1vw 0.9vw 0.5vw 0.9vw;
}

.gameVideo
{
    max-width: 100%;
    width: 64vw;
    height:36vw;
    outline-color:#174855;
    outline: solid;
    margin: 1vw 1vw 0 1vw;
}

.gameDescription
{
    max-width: 100%;
    width: 67.5vw;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgb(129, 69, 130);
    border-radius: 0 0 3vw 3vw;
    font-size: 1.8vw;
    padding: 1vw 0 1vw 0;
}

.aboutMe
{
    margin: 0 auto;
    max-width: 90vw;
    font-size: 1.8vw;
}

h1
{
    font-family: Perpetua;
    font-style: oblique;
    color:pink;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    max-width: 60vw;
    font-size: 3.5vw;
}

h2
{
    color: pink;
        text-align: center;
}

h3
{
    border-radius: 1vw;
    margin: 0 5vw 0 5vw;
    padding: 1vw 4vw 1vw 4vw;
    color:rgb(255, 255, 255);
    font-family:monospace;
    outline: solid rgb(35, 62, 62);
    background-color: rgba(69, 114, 114, 0.717);
    text-align: center;
}

.timeline
{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 0.3vw;
    background-color:rgb(227, 108, 225);
    margin: 40px auto;
    position: relative;
}

.timeline-item
{
    width: 0.5vw;
    height: 0.5vw;
    background-color:rgb(41, 133, 169);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--pos) / 365 * 100%);
}

.timeline-item:hover
{
    width: 10vw;
    height: 10vw;
    transform: translate(-50%,-98%);
    background-image: var(--img),
    radial-gradient(circle at 30% 30%, #ffffff 0%, #41a3d9 60%, #1f5f70 100%);
    background-size:contain;
    background-position: center;
    outline: auto;
    
    transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}

.linkContainer
{
    display: flex;
    position: relative;
    left:0vw;
    bottom:0vw;
    margin-top: 5vw;
}
.linkItem
{
    margin: 1vw;
}