body
{
    background-color:darkslategrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.gameImage
{
    height: 200px;
    width: 200px;
    outline-color:#174855;
    outline: solid;
    margin: 10px;
}

h1
{
    font-family: Perpetua;
    font-style: oblique;
    color:pink;
}

h2
{
    color: pink;
}

h3
{
    border-radius: 10px;
    margin: 0 50px 0 50px;
    padding: 10px 40px 10px 40px;
    color:rgb(255, 255, 255);
    font-family:monospace;
    outline: solid rgb(35, 62, 62);
    background-color: rgba(69, 114, 114, 0.717);
}

.timeline
{
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 3px;
    background-color:rgb(227, 108, 225);
    margin: 40px auto;
    position: relative;
}

.timeline-item
{
    width: 5px;
    height: 5px;
    background-color:rgb(41, 133, 169);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(var(--pos) / 365 * 100%);
}

.timeline-item:hover
{
    width: 100px;
    height: 100px;
    transform: translate(-50%,-98%);
    background-image: var(--img),
    radial-gradient(circle at 30% 30%, #ffffff 0%, #41a3d9 60%, #1f5f70 100%);
    background-size:contain;
    background-position: center;
    outline: auto;
    
    transition: transform 0.25s ease, width 0.25s ease, height 0.25s ease;
}